html
    font-family: $tipografia-principal
    font-size: 16px
#sct-banner
    background: $celeste        
    color: $blanco
    display: flex
    flex-direction: column
    height: 70vh
    justify-content: center
    h1,h2
        font-size: 2rem
        letter-spacing: 0.0313rem

a
    color: $blanco
    text-decoration: none
.material-icons
    font-size: 1rem    



