#frm-registro{
     border: 2px solid black; 
    width: 40%;

}

#frm-registro .fila{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#frm-registro .fila .columna{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;


}
#frm-registro .fila .columna-2 {
    display: flex;
    flex-direction: column;
    width: calc(100%/2.2) ;
}

#frm-registro .fila .columna-3 {
    display: flex;
    flex-direction: column;
    width: calc(100%/3.2) ;
}


/* buscar sistema de grillas */