        /* estilos de 0px en adelante */
        /* font-family: 'Montserrat', sans-serif; */
        /* border: 3px solid rgb(26, 139, 73); */
        
        * {
            /* tener el modelo de cajas */
            box-sizing: border-box;
        }
        
        .container-celeste {
            /* align-items: center; */
            background-image: linear-gradient(#19b4c6, #078aa4);
            display: flex;
            flex-direction: column;
            height: 175px;
            width: 100%;
        }
        /* chevron arrow area celeste */
        
        .fila .columna .material-symbols-outlined {
            color: #ffffff;
            font-size: 20px;
            margin-left: 10px;
        }
        
        .container-celeste .fila .columna {
            width: 49%;
        }
        
        .container-celeste .fila {
            display: flex;
            flex-direction: row;
            width: 90%;
            justify-content: space-between;
        }
        /* banner negro */
        
        #sct-back-banner .fila .columna {
            width: 80%;
            /* border: 3px solid rgb(188, 43, 50); */
        }
        
        #sct-back-banner .fila .columna2 {
            width: 20%;
        }
        
        #sct-back-banner .fila {
            display: flex;
            flex-direction: row;
        }
        
        #sct-back-banner .material-symbols-outlined {
            align-items: center;
            color: #ffffff;
            background-image: linear-gradient(#cf097ceb, #f22f9d);
            display: flex;
            flex-direction: row;
            height: 75px;
            width: 100%;
            justify-content: center;
        }
        
        #sct-back-banner .fila .columna .parrafo-banner p {
            align-items: center;
            color: rgb(121, 84, 121);
            background: #27212c;
            display: flex;
            flex-direction: row;
            font-weight: bold;
            font-size: 10px;
            height: 75px;
            width: 100%;
            justify-content: center;
        }
        /* fin banner negro */
        /*website */
        
        .fila .columna #website {
            color: #ffffff;
            font-size: 10px;
            margin-left: 23px;
        }
        /*fin website */
        /* bold title area celeste */
        
        .container-celeste #titulo {
            align-items: flex-start;
            color: #ffffff;
            display: block;
            display: flex;
            flex-direction: row;
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            margin-left: 20px;
            margin-right: 50px;
            margin-top: 35px;
            padding-top: 25px;
            padding-bottom: 15px;
            width: 65%;
        }
        /* Fin bold title area celeste */
        /* banner morado */
        
        .banner-morado {
            align-items: center;
            background: #5b0fa1;
            display: flex;
            flex-direction: row;
            height: 200px;
            justify-content: center;
            width: 100%;
        }
        
        img {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 200px
        }
        
        .banner-morado .material-symbols-outlined {
            font-size: 25px;
        }
        
        .sct-banner-responsive {
            display: flex;
            flex-direction: column;
            min-height: 32px;
            height: 600px;
            width: 100%;
        }
        
        #sct-banner-responsive figure img {
            width: 100%;
            display: flex;
        }
        /* inicio texto al final  */
        
        .sct-txt-responsive {
            color: #151414;
            display: flex;
            flex-direction: column;
            font-family: 'Lato', sans-serif;
            background: #c8c7c7;
            justify-content: center;
            padding-left: 30px;
            padding-bottom: 23px;
            padding-top: 45px;
        }
        
        .blueligh-title {
            padding-top: 45px;
            padding-bottom: 23px;
            background: #c8c7c7;
            padding-left: 30px;
        }
        
        .blueligh-title .titu {
            color: #078aa4;
            font-weight: 700;
            margin-left: 0px;
            font-size: 20px;
            padding-left: 30px;
            padding-bottom: 15px;
        }
        /* high resolution styles */
        
        sct-txt-responsive-2 {
            color: #151414;
            display: flex;
            flex-direction: column;
            font-family: 'Lato', sans-serif;
            background: #c8c7c7;
            justify-content: center;
            padding-left: 30px;
            padding-bottom: 23px;
            padding-top: 45px;
        }
        
        .sct-txt-responsive-2 .titu {
            color: #078aa4;
            font-weight: 700;
            margin-left: 0px;
            font-size: 20px;
            padding-left: 30px;
            padding-bottom: 15px;
        }
        
        .final-txt2 {
            background: #c8c7c7;
            color: #6e7272;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-family: 'Lato', sans-serif;
            font-weight: 800;
            line-height: 20px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 30px;
        }
        
        .sct-txt-responsive {
            display: flex;
            flex-direction: column;
        }
        /* fin texto al final  */
        
        html {
            font-family: 'Montserrat', sans-serif;
        }
        
        header {
            background: #373c3f;
            color: #ebebeb;
        }
        
        header #nav-mobile {
            display: flex;
            justify-content: space-between;
            min-height: 32px;
            padding-left: 4%;
        }
        
        header #nav-mobile span {
            align-items: center;
            display: flex;
            justify-content: center;
        }
        
        header #nav-mobile .material-icons {
            background: #202529;
            min-height: 32px;
            min-width: 32px;
        }
        
        header #nav-desktop {
            display: none;
        }
        
        .sct-txt-responsive-2 {
            display: none;
        }
        
        .material-symbols-outlined {
            color: #ebebeb;
        }
        /* Media query de 640 para arriba 
        Media query nav*/
        
        @media all and (min-width: 640px) {
            header #nav-mobile {
                min-height: 75px;
            }
            header #nav-mobile .material-icons {
                min-height: 75px;
                min-width: 75px;
            }
        }
        
        @media all and (min-width: 640px) {
            .container-celeste #titulo {
                align-items: flex-start;
                font-weight: 700;
                font-size: 30px;
                line-height: 35px;
                margin-left: 70px;
                margin-right: 55px;
                margin-top: 80px;
                padding-top: 35px;
                padding-bottom: 25px;
                width: 65%;
            }
            .fila .columna #website {
                font-size: 20px;
                margin-left: 70px;
            }
            .container-celeste {
                /* align-items: center; */
                height: 400px;
                width: 100%;
            }
        }
        /* Media query 980 pixels and up */
        
        @media all and (min-width: 980px) {
            header #nav-mobile {
                display: none;
            }
            header #nav-desktop {
                align-items: center;
                display: flex;
                justify-content: space-between;
                min-height: 100px;
                padding-left: 4%;
                width: 60%;
            }
            header #nav-desktop a {
                color: #ebebeb;
                text-decoration: none;
            }
            .sct-banner-responsive {
                display: flex;
                flex-direction: row;
                height: 200px;
                width: 100%;
            }
            img {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 200px
            }
            .banner-morado {
                justify-content: center;
                display: flex;
                flex-direction: row;
                height: 200px;
            }
            .sct-txt-responsive {
                display: flex;
                flex-direction: row;
            }
            .sct-txt-responsive-2 {
                display: flex;
            }
            .sct-txt-responsive {
                display: none;
            }
            .blueligh-title {
                padding-top: 45px;
                padding-bottom: 23px;
                background: #c8c7c7;
                padding-left: 30px;
            }
            .blueligh-title .titu {
                color: #078aa4;
                font-weight: 700;
                margin-left: 0px;
                font-size: 20px;
                padding-left: 3px;
                padding-bottom: 15px;
            }
        }
        
        @media all and (min-width: 1024px) {
            .banner-morado {
                justify-content: center;
                display: flex;
                flex-direction: row;
                height: 200px;
            }
            .sct-txt-responsive-2 {
                display: flex;
            }
            .sct-txt-responsive {
                display: none;
            }
            .blueligh-title {
                padding-top: 45px;
                padding-bottom: 23px;
                background: #c8c7c7;
                padding-left: 30px;
            }
            .blueligh-title .titu {
                color: #078aa4;
                font-weight: 700;
                margin-left: 0px;
                font-size: 20px;
                padding-left: 3px;
                padding-bottom: 15px;
            }
        }