html {
    /* background-color: red; */
    color: white;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5px;
}

.caja {
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* 30*5 exede de 100% lo tenia en 30*/
}

#sct-contenedor {
    align-items: center;
    /* flex strart, flex end, center; */
    /*acomoda los elementos segun su eje secundario*/
    /* border: 2px solid #2f3640; */
    /* background-color: red; */
    /* background: radial-gradient(red 5%, rgb(255, 0, 25) 25%, #5a3b3b 50%); */
    background-image: linear-gradient(#19b4c6, #078aa4);
    display: flex;
    /* de izq a derecha row */
    flex-direction: row;
    /* flex-wrap: wrap;  me deja el ancho que le digo y lo que no cabe lo pone en otro lugar*/
    justify-content: space-around;
    align-items: center;
    /* space around suma los espacios de cada elemento al rededor del elemento*/
    /* space-evenly; sin sumar entre elementos , de forma equitativa */
    /* permite acomodar los elementos hijos seguen su eje principal */
    /* cambios al eje principal  */
    /* ya las cajas no miden 30% por que 30 * 100 is se sobrepasa. con el flex se acomoda dentro de la seccion */
    height: 400px;
    margin-top: 60px;
    /* el alto del contenedor para poder acomodar los elementos del flex como deseamos
eje principal y eje secuntario  van a depender de cual sera la direccion de cual sea el contenido, el flex trabaja del padre hacia el hijo los elementos se acomodan a partir del eje principal osea el eje horizontal de izq a derec, hijos directos son los div
si un elemento revasa el contendor del padre se va hacia abajo*/
}